# flyctl launch added from .gitignore
# Ignore Python virtual environments
**\venv

rag_engine/*
data/*
!data/vector_stores/
!data/vector_stores/**

# ZIP
**\*.zip

# Byte-compiled / optimized / DLL files
**\__pycache__
**\*.py[cod]
**\*$py.class

# macOS & Windows system files
**\.DS_Store
**\Thumbs.db

# Environment and IDE settings
**\.env
**\.idea
**\.vscode
**\*.bin

# Jupyter notebook checkpoints
**\.ipynb_checkpoints

# Docker artifacts
**\*.log
**\*.pid
**\*.tar
**\*.sock

# Photos
**\*.png
**\*.jpg

# Latex
#Report
**\*.fls
**\*.fdb_latexmk
**\*.aux
**\*.synctex.gz

#Slides
**\*.nav
**\*.snm
**\*.toc
**\*.out

# flyctl launch added from rag_venv\.gitignore
# Created by venv; see https://docs.python.org/3/library/venv.html
rag_venv\**\*

# flyctl launch added from rag_venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydevd_frame_eval\.gitignore
rag_venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydevd_frame_eval\pydevd_frame_evaluator.*.so
rag_venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydevd_frame_eval\pydevd_frame_evaluator.*.pyd
rag_venv\Lib\site-packages\debugpy\_vendored\pydevd\_pydevd_frame_eval\pydevd_frame_evaluator.pyx

# flyctl launch added from rag_venv\Lib\site-packages\debugpy\_vendored\pydevd\pydevd_attach_to_process\linux_and_mac\.gitignore
rag_venv\Lib\site-packages\debugpy\_vendored\pydevd\pydevd_attach_to_process\linux_and_mac\attach_x86.dylib
rag_venv\Lib\site-packages\debugpy\_vendored\pydevd\pydevd_attach_to_process\linux_and_mac\attach_x86_64.dylib
rag_venv\Lib\site-packages\debugpy\_vendored\pydevd\pydevd_attach_to_process\linux_and_mac\attach_linux_x86.o
rag_venv\Lib\site-packages\debugpy\_vendored\pydevd\pydevd_attach_to_process\linux_and_mac\attach_linux_x86_64.o
fly.toml
